@font-face {
  font-family: medium;
  src: url("./assets/fonts/medium.otf");
}

@font-face {
  font-family: regular;
  src: url("./assets/fonts/regular.otf");
}

@font-face {
  font-family: semibold;
  src: url("./assets/fonts/semibold.otf");
}

#root {
  font-family: medium, regular, semibold;
  overflow: hidden;
}
